{% extends "ProyectowebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">

  <div style="float: right;">

    {% if request.user.is_authenticated%}

    {% include "carro/widget.html" %}

    {% else %}

    <div class="alert alert-danger text-center">Log in para ver Carrito</div> 

    {% endif %}
    
  </div>

  <div class="row">
    {% for producto in productos %}
    <div class="col-md-3"> <!-- Ajusta el ancho de cada columna -->
      <div class="card" style="width: 100%; margin: 5px 5px;"> <!-- Tarjeta ocupa todo el ancho de la columna -->
        
        <img src="{{producto.imagen.url}}" class="card-img-top"> <!-- Imágenes del mismo tamaño -->
        
        <div class="card-body" style="text-align: center; font-size: smaller;">
          <h5 class="card-title" style="font-size: smaller;">{{producto.nombre}}</h5> 
          <p class="card-text" style="font-size: smaller;">$&nbsp;{{producto.precio}}</p>
        </div><!-- Div card-body cierra -->

        <div class="card-footer text-center">
          <a href="{% url 'carrito:agregar' producto.id %}" class="btn btn-success" style="font-size: smaller;">Agregar al Carrito</a> <!-- Corregido el nombre de la clase -->
        </div> 
    
      </div><!-- Div card cierra -->
    </div><!-- Div col-md-3 cierra -->
    {% endfor %}
  </div><!-- Div row cierra -->
</div><!-- Div container cierra -->

{% endblock %}
