{% extends "ProyectowebApp/base.html" %}

{% load static %}

{% block content %}



<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-1 mb-lg-0 rounded" src="{% static 'ProyectowebApp/img/entrega2.jpg' %}" alt="" style="width: 50%; height: 50%;">
        <div class="intro-text left-0 text-center bg-faded p-1 rounded">
          <h2 class="section-heading mb-1" >
            <span class="section-heading-upper">Nuestros Servicios</span>
            <span class="section-heading-lower">Entrega a Domicilio</span>
          </h2>
          <p class="mb-1">Disfruta de la entrega rápida y segura de tus artículos en la comodidad de tu hogar.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Instalacion profesional</span>
              <span class="section-heading-lower">Garantizado</span>
            </h2>
            <p class="mb-0">Ofrecemos servicios de instalación para que tus compras estén listas para usar al instante.</p>
            <p class="mb-0">Asegura la protección de tus artículos con nuestra garantía extendida en productos seleccionados.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


<div><p></p></div>    
{% endblock %}

