{% extends "ProyectowebApp/base.html" %}

{% load static %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectowebApp/img/sofa.jpg' %}" alt="" style="width: 50%; height: auto;">
        <div class="intro-text left-0 text-center bg-faded p-3 rounded">
          <h2 class="section-heading mb-" >
            <span class="section-heading-upper">Sofá</span>
            <span class="section-heading-lower">Sofá Moderno</span>
          </h2>
          <p class="mb-2">Un elegante y cómodo sofá para tu sala, disponible en varios colores.</p>
        </section>



    {% endblock %}
